*,
**::before,
**::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#047aed;
    --secondary-color:#1c3fa3;
    --dark-color:#002240;
    --light-color:#f4f4f4;
}

body{
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    color: #333;
}


.navbar{
    background-color: #047aed;
    color: white;
    height: 70px;
}

.navbar ul{
    display: flex;
}

.navbar a{
    color: white;
    margin: 0 5px;
    padding: 10px;
}

.navbar a:hover{
    border-bottom: 2px white solid;
}

nav ul li{
    list-style: none;
    }
    
    nav ul li a{
        text-decoration: none;
        color: #333;
    }

    .navbar .flex{
        justify-content: space-between;
    }
    
    h1, h2{
        font-weight: 300;
        line-height: 1.2;
        margin: 10px 0;
    }
    
    .showcase{
        height: 400px;
        background-color: var(--primary-color);
        color: white;
        position: relative;
    }
    .showcase h2{
        font-size: 40px;
    }
    
    .showcase p{
        margin: 20px o;
    }

    .showcase .grid{
        overflow: visible;
        grid-template-columns: 55% 45%;
        gap: 30px;
    }

    .showcase-form{
        position: relative;
        top: 60px;
        height: 350px;
        width: 400px;
        padding: 40px;
        justify-self: flex-end;
        z-index: 100;
    }

    .showcase-form .form-control{
        margin: 30px 0;
    }

    .showcase-form input[type='text'],
    .showcase-form input[type='email'] {
        border: 0;
        border-bottom: 1px solid #b4becb;
        width: 100%;
        padding: 3px;
        font-size: 16px;
    }
    .showcase-form input:focus {
        outline: none;
    }

    .showcase::before,
    .showcase::after {
        content: '';
        position: absolute;
        height: 100px;
        bottom: -70px;
        right: 0;
        left: 0;
        background: white;
        transform: skewY(-3deg);
        -webkit-transform: skewY(-3deg);
        -moz-transform: skewY(-3deg);
        -ms-transform: skewY(-3deg);
    }

    .stats{
        padding: 100px;
    }

    .stats-heading{
        max-width: 500px;
        margin: auto;
    }
    .stats .grid h3{
        font-size: 35px;
    }
    .stats .grid p{
        font-size: 20px;
        font-weight: bold;
    }

    .cli .grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .cli .grid > *:first-child {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
    .cloud .grid {
        grid-template-columns: 4fr 3fr;
    }

    .languages .flex{
        flex-wrap: wrap;
    }

    .languages .card{
        text-align: center;
        margin: 18px 10px 40px;
        transition: transform 0.2s ease-in;
    }

    .languages .card h4{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .languages .card:hover {
        transform: translateY(-15px);
    }

    .footer .social a{
        margin: 0 10px;
    }

    .features-head img,   
    .doc-head img{
        width: 200px;
        justify-self: flex-end;
    }

    .features-sub-head img {
        width: 300px;
        justify-self: flex-end;
    }

    .features-main .card > i {
        margin-right: 20px;
    }

    .features-main .grid{
        padding: 30px;
    }

    .features-main .grid > *:first-child {
        grid-column: 1 / span 3;
    } 

    .features-main .grid > *:nth-child(2) {
        grid-column: 1 / span 2;
    } 


    /*mobile*/
    @media(max-width:500px) {
        .navbar {
            height: 110px;
        }

        .navar .flex {
            flex-direction: column;
        }

        .nav .ul{
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }









p{
    margin: 10px 0;
}
img{
    width: 100%;
}